@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SMFont';
  src: url('./assets/super_mario_font.ttf');
}

html,
body,
#root,
main {
  height: 100%;
}

body {
  background-image: url(/src/assets/bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
